.apples-pears {
  position: relative;
  width: 100vw;
  aspect-ratio: 1280 / 290;

  background-color: #AA9951;
  overflow: hidden;
}
.apples-pears img {
  position: absolute;
  inset: 0;
  width: 100%;
  animation: slideshow 2s infinite steps(1);
}
@keyframes slideshow {
  0%   { z-index: 6; }
  16.66% { z-index: 5; }
  33.33% { z-index: 4; }
  50% { z-index: 3; }
  66.66% { z-index: 2; }
  83.33% { z-index: 1; }
  100% { z-index: 6; }
}
.apples-pears img:nth-child(1) { animation-delay: 0s; }
.apples-pears img:nth-child(2) { animation-delay: -0.33s; }
.apples-pears img:nth-child(3) { animation-delay: -0.66s; }
.apples-pears img:nth-child(4) { animation-delay: -0.99s; }
.apples-pears img:nth-child(5) { animation-delay: -1.32s; }
.apples-pears img:nth-child(6) { animation-delay: -1.65s; }
