.promo-wrapper {
  width: 100vw;
  display: flex;
}


.discount-section {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.discount-title h2 {
  font-size: clamp(32px, 8vw, 97px);
  font-family: 'Mulish-SemiBold', sans-serif;
  text-transform: uppercase;
  color: var(--own-dark-red);
}
.discount-title {
  height: 50%;
  background-color: var(--own-white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.discount-number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  background-color: var(--own-red);
}
.discount-number h2 {
  color: var(--own-white);
  font-family: 'Mulish-Regular', sans-serif;
  font-size: clamp(59px, 10vw, 182px);
}


.tree-section {
  position: relative;
  width: 50vw;
  display: flex;  
  justify-content: space-between;
  height: 100%;
  background-color: var(--own-dark-red);
  transition: background-color 0.2s ease;
}
.tree-img:hover .tree-hover{
  opacity: 1;
}
.gift {
  position: relative;
  margin-left: 10px;
  margin-top: 5px;
}
.gift-1 {
  transition: opacity 0.3s ease;
}
.gift img {
  width: 230px;
  max-width: 100%;
  height: auto;
}
.gift-hover {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.gift:hover .gift-hover {
  opacity: 1;
}
.gift:hover .gift-1 {
  opacity: 0;
}
.tree-img {
  position: relative;
}
.tree-img img {
  width: 408px;
  max-width: 100%;
  height: auto;
}
.tree-hover {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.2s ease;
}

